<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ content['name'] }} Weather</title>
</head>
<body>
     <form method="post">
         {{ form.search_term.label }}
         {{ form.search_term(id="city") }}
         {{ form.submit() }}<br />
    </form><br /><br />

    <table >
        <tr>
            <th>Names</th>
            <th>Values</th>
        </tr>
        {% macro print_element(element) %}
            <tr>
                <td>{{ element  }}</td>
                <td>{{ content[element] }}</td>
            </tr>
        {% endmacro %}

        {% if content['name'] %}
            {% for element in content %}
                {{ print_element(element) }}
            {% endfor %}
        {% else %}
            <p>City not found</p>
        {% endif %}
    </table>
</body>
</html>